:root {
    --MeetMas-red:          #ea1f1f;
    --MeetMas-red-hover:    #ea6060;
    --MeetMas-red-active:   #e08181;

    --MeetMas-green:          #ea1f1f;
    --MeetMas-green-hover:    #ea6060;
    --MeetMas-green-active:   #e08181;
    
    --MeetMas-blue:          #1a73e8;
    --MeetMas-blue-hover:    #287ae5;
    --MeetMas-blue-active:   #3f88e9;

    --MeetMas-yellow:           #f4bd00;
    --MeetMas-yellow-active:    #f1cb4e;
    --MeetMas-yellow-hover:     #f4d672;
        
    --MeetMas-grey:           #3c4043;
    --MeetMas-grey-active:    #525557;
    --MeetMas-grey-hover:     #747677;
    
    --MeetMas-black:           #0000005c;
    --MeetMas-black-active:    #23232345;
    --MeetMas-black-hover:     #3f3f3f45;
    
    --MeetMas-white:           #ffffff;
    --MeetMas-white-active:    #f1f3f4;
    --MeetMas-white-hover:     #e0e0e0;

    --MeetMas-radious:         5px;
}

/* MEETING OPTION=============================== */
.MeetMas_SelectMeeting_MeetOption_container{
    width: calc(100% - 20px);
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border: none;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--MeetMas-white);
}
    .MeetMas_SelectMeeting_MeetOption_container:hover{
        background-color: var(--MeetMas-white-hover);
    }

.MeetMas_SelectMeeting_MeetOption_title{
    margin: 0;
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
}
.MeetMas_SelectMeeting_MeetOption_link{
    margin: 0;
    width: 30%;
    overflow: auto;
    white-space: nowrap;
}

.Menus_selectMeeting_EditIcon{
    height: 100%;
}


/* END============================================ */



/*GENERIC CLASES======================================================== */

/* ---------------------text-------------------------------- */
.MeetMas_text{
    font-size: 17px;
    padding: 0 10px;
    margin: 5px;
    max-width: 90%;
}
.MeetMas_bold{
    font-weight: 700;
}
/* ----------------------------------------------------------- */



/* ---------------------sections-------------------------------- */
.MeetMas_background{
    width: 100%;
    height: 100%;
    background-color: #0000002e;
    z-index: 2000;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MeetMas_menu{
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;

    width: 80%;
    height: 80%;
    z-index: 1000;
    top: 10%;
    left: 10%;

    background-color: white;
    box-shadow: 0px 2px 10px #3d3d3d;
}
.MeetMas_header{
    width: 100%;
    height:10%;
    display: flex;
}
.MeetMas_headerTitle{      
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 25px;
    overflow: hidden;
    padding: 0 35px;
}


.MeetMas_body{
    width: calc(100% - 20px);
    height: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;    
    padding: 10px;
    overflow-y: auto;
}
.MeetMas_footer{
    width: 100%;
    height: 10%;
}
/* ----------------------------------------------------------- */





/* ---------------------buttons-------------------------------- */


.MeetMas_button{
    border: none;

    width: auto;
    height: 20px;
    min-width: 30px;
    padding: 5px 15px;
    margin: 0;
        
    color: white;
    
    font-weight: 700;
    line-height: 20px;
}

.MeetMas_acceptButton{
    background-color: var(--MeetMas-blue);
}
    .MeetMas_acceptButton:hover{    
        cursor: pointer;
        background-color: var(--MeetMas-blue-hover);
    }
    .MeetMas_acceptButton:active{    
        background-color: var(--MeetMas-blue-active);
    }

.MeetMas_cancelButton{
    background-color: var(--MeetMas-red);
}
    .MeetMas_cancelButton:hover{
        cursor: pointer;
        background-color: var(--MeetMas-red-hover);
    }
    .MeetMas_cancelButton:active{
        background-color: var(--MeetMas-red-active);
    }

  
.MeetMas_editButton{
    background-color: var(--MeetMas-yellow);
}
    .MeetMas_editButton:hover{
        cursor: pointer;
        background-color: var(--MeetMas-yellow-hover);
    }
    .MeetMas_editButton:active{
        background-color: var(--MeetMas-yellow-active);
    }

.MeetMas_hoverOption{
    background-color: var(--MeetMas-white);
}
.MeetMas_hoverOption:hover{
    background-color: var(--MeetMas-white-hover);
}

.MeetMas_closeButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    color: #5f6368;
    font-weight: 500;
    font-size: 20px;
    margin: 4px;
    line-height: 40px;
    padding: 0;
    background-color: var(--MeetMas-white);
}
    .MeetMas_closeButton:hover{
        cursor: pointer;
        background-color: var(--MeetMas-white-hover);
    }
    .MeetMas_closeButton:active{
        background-color: var(--MeetMas-white-active);
    }


.MeetMas_InterfaceButton{
    width: auto;
    height: auto;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    font-weight: 600;
    margin: 10px 5px;
    background-color: var(--MeetMas-grey);
}
    .MeetMas_InterfaceButton:hover{
        cursor: pointer;
        background-color: var(--MeetMas-grey-hover);
    }
    .MeetMas_InterfaceButton:active{
        background-color: var(--MeetMas-grey-active);
    }

.MeetMas_ReplyButton{
    height: auto;
    color: var(--MeetMas-yellow);
    background-color: transparent;
    border: none;
    font-weight: 700;
    margin: 0 5px;
}
    .MeetMas_ReplyButton:hover{
        cursor: pointer;
        color: var(--MeetMas-yellow-hover);
    }
    .MeetMas_ReplyButton:active{
        color: var(--MeetMas-yellow-active);
    }



    
.MeetMas_footerButton{
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    width: 100%;
    border-radius: 0 0 5px 5px;
    height: 100%;
}

.MeetMas_longButton{
    width: calc(100% - 20px);
    height: auto;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 20px;
    font-weight: 600;
}

/* ----------------------------------------------------------- */




    










.MeetMas_errorMessage{
    color:red;
}

.data_container{
    width: 90%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}




.notification{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    width: 80%;
    height: auto;
    z-index: 2500;
    top: 2%;
    left: 10%;
    background-color: white;
    box-shadow: 0px 2px 10px #3d3d3d;
}

.height100{    
    height: 100%;
}

.MeetMas_xmargin{
    margin: 0 10px;
}

.MeetMas_rounded{
    border-radius: var(--MeetMas-radious);
}







.interfaceButtonContainer{
    height: auto;
    width: auto;
    position: fixed;
    z-index: 500;
    top: 10px;
    left: 10px;
    background-color: #11111152;
    border-radius: 5px;
    color: white;
    gap: 10px;
    display: flex;
    padding-right: 10px;
}

.MeetMas_InterfaceButton_hide{
    width: auto;
    height: 60px;
    border-radius: 5px 0 0 5px;
    border: none;
    color: white;
    padding: 10px;
    font-weight: 600;
    background-color: var(--MeetMas-black);
}
    .MeetMas_InterfaceButton_hide:hover{
        cursor: pointer;
        background-color: var(--MeetMas-black-hover);
    }
    .MeetMas_InterfaceButton_hide:active{
        background-color: var(--MeetMas-black-active);
    }
    




.Menus_selectMeeting_meetsOptions_container{
    width: 100%;
    height: -webkit-fill-available;
}

/*MeetMas Menu======================================================== */

.MeetMas_meetMasMenu_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.MeetMas_meetMasMenu_ButtonsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
    width: 100%;
    padding: 10px;
}
.MeetMas_meetMasMenu_Participants{
    height: 100%;
    width: 100%;
    overflow-y: auto;    
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.MeetMas_meetMasMenu_Participant{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}
.MeetMas_meetMasMenu_Participant_name{
    font-weight: 500;
    display: flex;
    flex-flow: nowrap;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 10px 0px 0px;
    font-size: 14px;
}
/* END============================================ */


.MeetMas_toolTip{
    height: auto;
    background-color: #3d3d3d;
    position: absolute;
    color: white;
    width: auto;
    max-width: 300px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    top: 26px;
    left: 5px;
    z-index: 10;
    animation-name: appear;
    animation-duration: 1s;
}
@keyframes appear{
    0% {
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: #3d3d3d;
        color: white;
    }
}