.MeetMas_rounded{
    border-radius: var(--MeetMas-radious);
}


.notification{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    width: 80%;
    height: auto;
    z-index: 2500;
    top: 2%;
    left: 10%;
    background-color: white;
    box-shadow: 0px 1px 5px #3d3d3d;
    border: solid 1px #cccccc;
}
.MeetMas_bold{
    font-weight: 700;
}
.MeetMas_text{
    font-size: 17px;
    padding: 0 10px;
    margin: 5px;
    max-width: 90%;
}

.MeetMas_closeButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    color: #5f6368;
    font-weight: 500;
    font-size: 20px;
    margin: 4px;
    line-height: 40px;
    padding: 0;
    background-color: var(--MeetMas-white);
}
    .MeetMas_closeButton:hover{
        cursor: pointer;
        background-color: var(--MeetMas-white-hover);
    }
    .MeetMas_closeButton:active{
        background-color: var(--MeetMas-white-active);
    }